{% extends "base.html" %}

{% block title %} Log In{% endblock %}

{% block body %}
<body class="register-page">
    <div class="container" >
        <div class="row">
            <div class="offset-lg-0 offset-md-3 col-md-6 col-lg-5" style="padding: 20px">
                <div class="square square-7" id="square7" style="transform: perspective(500px) rotateY(6.46deg) rotateX(-5.08667deg);"></div>
                <div class="square square-8" id="square8" style="transform: perspective(500px) rotateY(6.46deg) rotateX(-5.08667deg);"></div>
                <div class="card-register card" style="padding: 20px;">
                    <div class="card-header">
                        <img alt="..." src="{{ url_for('static', filename='images/square-purple-1.png') }}" class="card-img">
                        <h4 class="card-title"> Login</h4>
                    </div>
                    <div class="card-body">
                        <form class="form" action={{ url_for('login') }} method="post">
                            <div class="input-group">
                                <input placeholder="Name" type="text" class="form-control" name="name">
                            </div>
                            <div class="input-group">
                                <input placeholder="Password" type="text" class="form-control" name="password">
                            </div>
                            <div class="card-footer">
                                <button class="btn-round btn btn-primary btn-lg">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="square square-1" id="square1" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
        <div class="square square-2" id="square2" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
        <div class="square square-3" id="square3" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
        <div class="square square-4" id="square4" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
        <div class="square square-5" id="square5" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
        <div class="square square-6" id="square6" style="transform: perspective(500px) rotateY(16.15deg) rotateX(-12.7167deg);"></div>
    </div>
</body>



{% endblock %}