<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %} - My Webpage</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blk-design-system-react.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>

    {% include "nav.html" %}

    {% block body %}
    <h1> Hi! Welcome to my portfolio website!</h1>
    {% endblock %}

    {% include "footer.html" %}
<script src = "{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>